*{
    font-family: 'Roboto' , 'Hind Siliguri', sans-serif;
}
html,
body{
overflow-x:hidden;
margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none;
}
.error{
    color: red
}

@media only screen and (max-width: 499px) {
    *{
        font-size: 10px;
    }
    table{
        font-size: 10px;
    }
  }